# mongo-connector==2.1
# Use latest mongo connector (for troubleshooting issue with fatal exception)
https://github.com/mongodb-labs/mongo-connector/archive/master.tar.gz
elasticsearch==1.6.0
pymongo==2.8.1
requests
PyYAML==3.11
